@model BlackJackApp.ViewModels.GameServiceViewModel

<h2>StartGame</h2>

@using (Html.BeginForm("CurrentGame", "Game"))
    {
        @Html.TextBoxFor(g => g.PlayerName)
        @Html.TextBoxFor(g => g.BotQuantity)
        <input type="submit" value="Start Game" id="btnSubmit"/>
    }

